h2 {
    text-decoration: underline;
}

ul, div {
    margin-bottom: 100px;
}

#allProducts{
    display: flex;
    list-style: none;
    justify-content: center;
    /* flex-direction: column; */
gap: 15px;
}

li{
    border: 1px solid gold;
    padding: 15px;
}
.searchBar_error--message{
    background-color: red;
    color: white;
    width: 155px;
    height: 24px;
    left: 48px;
    top: 66px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* Для изменений используем  display:none первоначально не видно, при ошибке показывает */
    /* display:none; */
    
}